<configuration> 
	<packageSources> 
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> 
		<add key="BaSyxArtifacts" value="https://pkgs.dev.azure.com/ESF-Cloud/FACTORY-Orchestration-Platform/_packaging/BaSyx-NET-SDK-Packages/nuget/v3/index.json" /> 
	</packageSources> 
</configuration> 